<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "stylesheet.css" %>
	<%= stylesheet_link_tag "materialize.css" %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="boddy">
    <nav>
      <div class="nav-wrapper">
        <img src="<%= asset_path('PurrsuitPersonagem.png')%>" class="purrSuitImage other-page" />
			<h1 id="tittle" class="brand-logo">PurrSuit</h1>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
        	<li><%= link_to "Achievements", :achievements_all %></li>
          <li><%= link_to "Users", :users_all %></li>
        	<li class="active"><%= link_to "Quests", :quests_all%></li>
			<li><%= link_to "Logout", logout_path%></li>
      </ul>
    </nav>
    <div class="principalSquare">
    <% if current_user && current_user.admin? %>
      <div class="listSquare">
        <%= form_for :quest, url: quests_update_path, method: :put do | form | %>
          <%= form.text_field :name, :class => "gamification_fields", :placeholder => "Quest's name"%>
          <%= form.number_field :experience_points, :class => "gamification_fields", :placeholder => "Experience Points"%>
          <%= form.text_field :description, :class => "gamification_fields", :placeholder => "Description" %>
          <%= form.submit "Edit Quest", :id => "gamification_button", :class => "gamification_button btn btn-default btn-lg"%>
        <% end %> 
        <%= button_to "Cancel", :quests_all, :id => "gamification_button", :class => "btn btn-default btn
-lg gamification_button", :method => :get %>
      </div>
      <% else %>
        <script type="text/javascript">
          window.location.href="/logout"
        </script>
      <% end %>
    </div>
  </body>
</html>

