<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "stylesheet.css" %>
		<%= stylesheet_link_tag "materialize.css" %>
  </head>
  <body class="boddy">
    <nav>
      <div class="nav-wrapper">
        <img src="<%= asset_path('PurrsuitPersonagem.png')%>" class="purrSuitImage other-page" />
			<h1 id="tittle" class="brand-logo">PurrSuit</h1>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
    <div class="principalSquare">
			<div id="alert" class="alert alert-warning login" role="alert">Acesso restrito ao administrador</div>
      <div class="listSquare">
				<img src="<%= asset_path('PurrsuitPersonagem.png')%>" class="purrSuitImage" />
				<%= form_for :session, url: login_path do |f| %>
					<%= f.email_field :email, :placeholder => "Email", :class => "gamification_fields" %>
					<%= f.password_field :password, :placeholder => "Password", :class => "gamification_fields" %>
					<%= f.submit "Login", :id => "gamification_button", :class =>  "waves-effect waves-light btn" %>
				<% end %>
      </div>
    </div>
  </body>
</html>

