<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "stylesheet.css" %>
  </head>
  <body>
    <div class="principalSquare">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Início</a></li>
       <li role="presentation"><%= link_to "Achievements", :achievements_all%></li>
        <li role="presentation"><%= link_to "Quests", :quests_all%></li>
      </ul>
      <div class="listSquare">
				<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpl1/v/t34.0-12/13101411_1168501766502630_968318762_n.png?oh=4bf8ac04fa6620308b25376c87d648b1&oe=57377E55&__gda__=1463201252_fccc8643cdb0cf39ac15dfeef54a4ff6" class="purrSuitImage" />
				<%= form_for :session, url: login_path do |f| %>
					<%= f.email_field :email, :placeholder => "Email", :class => "gamification_fields" %>
					<%= f.password_field :password, :placeholder => "Password", :class => "gamification_fields" %>
					<%= f.submit "Login", class: "btn btn-default btn-lg gamification_button" %>
				<% end %>
      </div>
    </div>
  </body>
</html>

