<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "stylesheet.css" %>
  <%= stylesheet_link_tag "materialize.css" %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="boddy">
    <nav>
      <div class="nav-wrapper">
        <img src="<%= asset_path('PurrsuitPersonagem.png')%>" class="purrSuitImage other-page" />
      <h1 id="tittle" class="brand-logo">PurrSuit</h1>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Achievements", :achievements_all %></li>
					<li class="active"><%= link_to "Users", :users_all %></li>
          <li><%= link_to "Quests", :quests_all%></li>
      <li><%= link_to "Logout", logout_path%></li>
      </ul>
    </nav>
    <div class="principalSquare">
    <% if current_user && current_user.admin? %>
        <div class="listSquare">
				<%= form_tag users_all_path, :method => 'get' do %>
					<%= text_field_tag :search, params[:search], :id => "searchTF" %>
					<button id="search-button"class="btn btn-default btn-xs" type="submit" name="action">
						Search
  				</button>
				<br><br>
				<% if @user.size == 0 %>
					<div id="alert" class="alert alert-danger" role="alert">Usuário <%= params[:search] %> não encontrado</div>
				<% end %>
				<% end %>
        <% @user.each do | q | %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= q.nickname %></h4>
                  <span class="label label-default"><%= q.experience_points %> Experience Points</span>
              </div>
              <div class="panel-body">
                <%= q.email%>
                <div class="btn-toolbar button_group" role="group"> 
                  <%= button_to "Edit", users_edit_path(q), :method => :get, :class => "btn btn-default btn-xs" %>
                  <%= button_to "Delete", users_delete_path(q), :method => :delete, :class => "btn btn-default btn-xs" %>
                </div>
                </div>
              </div>
            <% end %>
        </div>
      <% else %>
        <script type="text/javascript">
          window.location.href="/logout"
        </script>
      <% end %>
    </div>
  </body>
</html>

