<!DOCTYPE html>
<html>
  <body>
    <%= form_for :user, url: :users_create, html: {method: "POST"} do |f| %>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name %><br>
      <%= f.label :age, "Idade" %>
      <%= f.number_field :age, min: 0, max: 200 %><br>
      <%= f.label :gender, "Sexo" %>
      <%= f.radio_button :gender, "Masculino" , checked: true %>Masculino
      <%= f.radio_button :gender, "Feminino" %>Feminino<br>
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email %><br>
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password %><br>
      <%= f.label :password_confirmation, "Confirme a senha" %>
      <%= f.password_field :password_confirmation %><br>
      <%= f.submit "create account" %>
    <% end %>
  </body>
</html>
