<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "stylesheet.css" %>
  </head>
  <body>
    <div class="principalSquare">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="#">Início</a></li>
       <li role="presentation" class="active"><%= link_to "Achievements", :achievements_all%></li>
        <li role="presentation"><a href="#">Quests</a></li>
      </ul>
      <div class="listSquare">
        <%= form_for :achievement, url: achievements_update_path, method: :put do | form | %>
          <%= form.text_field :name, :class => "gamification_fields", :placeholder => "Achievement's name"%>
          <%= form.number_field :experience_points, :class => "gamification_fields", :placeholder => "Experience Points"%>
          <%= form.text_field :description, :class => "gamification_fields", :placeholder => "Description" %>
          <%= form.submit "Edit Achievement", :class => "gamification_button btn btn-default btn-lg"%>
        <% end %> 
        <%= button_to "Cancel", :quests_all, :class => "btn btn-default btn-lg gamification_button", :method => :get %>
      </div>
    </div>
  </body>
</html>

